section#speakers(full-height): .page-size

    img.header-illustrator(src='/assets/illustrations/speakers.svg')

    h2 Speakers

    ul.speakers-list

        each speaker, i in speakers.filter(function (s) { return s.name })

            if i === 0 || i % 3 === 0

                if i > 0
                    </div>

                <div class='row'>

            li.col-4

                .avatar-wrap
                    img.avatar(src='#{speaker.avatar}')

                h4 #{speaker.name}

                if speaker.title
                    h5 !{speaker.title}

                if speaker.bio
                    p !{speaker.bio}
                    
                if speaker.twitter_handle
                    a.twitter-handle(href='https://www.twitter.com/#{speaker.twitter_handle}', target='_blank') @#{speaker.twitter_handle}

    a.button.primary.large(href='https://ti.to/risingstack/nodeconf-budapest', target='_blank') SOLD OUT
